<section style="height: 100vh;">
    <!-- *ngIf="appService.isSupplier()" -->
    <div class="container" style="padding-top: 50px;">
        <div style="padding-top: 30px;padding-bottom: 30px;background-color: #eee;">
            <h3 style="padding-bottom: 20px;" class="text-center">Please Fill The Following Form </h3>
            <form [formGroup]="loanForm" style="margin: auto;width: 50%;" (ngSubmit)="loanProcess()">
                <!-- <div class="form-group">
                    <label for="exampleInputEmail1">ID Number</label>
                    <input formControlName="id_number" type="integer" class="form-control" id="fullnames" aria-describedby="emailHelp" placeholder="Enter ID Number">
                </div> -->
                <!-- <div class="text-danger" *ngIf="firstName && firstName.invalid && firstName.touched">This field is required</div> -->
                <!-- <div class="form-group">
                    <label style="margin-top: 20px;" for="exampleInputPassword1">Location</label>
                    <input formControlName="location" type="text" class="form-control" id="exampleInputPassword1" placeholder="location">
                </div> -->
                <!-- <div class="text-danger" *ngIf="lastName && lastName.invalid && lastName.touched">This field is required</div> -->
                <div class="form-group">
                    <label style="margin-top: 20px;" for="exampleInputPassword1">First Name</label>
                    <input formControlName="first_name" type="text" class="form-control" id="first_name" placeholder="first name">
                </div>
                <div class="form-group">
                    <label style="margin-top: 20px;" for="exampleInputPassword1">Last name</label>
                    <input formControlName="last_name" type="text" class="form-control" id="last_name" placeholder="Last name">
                </div>
                <div class="form-group">
                    <label style="margin-top: 20px;" for="exampleInputPassword1">ID Number</label>
                    <input formControlName="id_number" type="number" class="form-control" id="exampleInputPassword1" placeholder="ID Number">
                </div>
                <!-- <div class="text-danger" *ngIf="idNumber && idNumber.invalid && idNumber.touched">This field is required</div> -->
                <!-- <select formControlName="gender" class="w-100" style="margin-top: 20px; border-radius: 7px; border-radius: 7px;padding: 7px;">
      }
                    <option *ngFor="let gender of genders" [ngValue]="gender.value">{{gender.name}}</option>
                    <!-- <option value="Male">Male</option>
                    <option value="Female">Female</option> -->
                <!-- </select> -->
                <!-- <div class="text-danger" *ngIf="gender && gender.invalid && gender.touched">This field is required</div> -->
                <div class="form-group">
                    <label style="margin-top: 20px;" for="exampleInputPassword1">Location</label>
                    <input formControlName="location" type="text" class="form-control" id="last_name" placeholder="Last name">
                </div>

                <div class="form-group">
                    <label style="margin-top: 20px;" for="exampleInputPassword1">Crop</label>
                    <input formControlName="crop" type="text" class="form-control" id="exampleInputPassword1" placeholder="Crop">
                </div>

                <!-- <div class="text-danger" *ngIf="occupation && occupation.invalid && occupation.touched">This field is required</div> -->
                <!-- <div class="form-group">
                    <label style="margin-top: 20px;" for="exampleInputPassword1">Email</label>
                    <input formControlName="email" type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
                </div> -->
                <!-- <div class="text-danger" *ngIf="email && email.invalid && email.touched">This field is required</div> -->
                <!-- <div class="form-group">
                    <label style="margin-top: 20px;"  for="exampleFormControlFile1">Upload your identification card</label>
                    <input type="file" class="form-control-file" id="identificationcard">
                </div> -->
                <button style="margin-top: 20px;width: 30%;" type="submit" class="btn btn-success">submit</button>
            </form>
        </div>
    </div>
</section>