<div class="container">
    <div class="main-body">

        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Logout</a></li>
                <!-- <li class="breadcrumb-item active" aria-current="page">User Profile</li> -->

            </ol>
        </nav>
        <!-- navbar top -->
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div id="card-1" class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP6qsNX1tRgiGxHXoZFA5-B06PJpCpUO8usQ&usqp=CAU" alt="Admin" class="rounded-circle" height="200" width="200">
                            <div class="mt-3">
                                <h4>Mkulima shupavu</h4>
                                <p class="text-secondary mb-1">Location : Kiambu</p>
                                <p class="text-muted font-size-sm">Farmer id : 23435235</p>
                                <p class="text-secondary mb-1">Contact : 071234567</p>
                                <p class="text-muted font-size-sm">Size of land : 200 * 200</p>
                                <p class="text-muted font-size-sm">crop: Maize</p>
                                <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit Profile</button>



                            </div>
                        </div>
                    </div>
                </div>

                <!-- edit profile modal form -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="exampleModalLabel">Edit your Profile</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">First Name</label>
                                        <input type="text" class="form-control" id="fullnames" aria-describedby="emailHelp" placeholder="Enter Your full names">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Location</label>
                                        <input type="integer" class="form-control" id="exampleInputPassword1" placeholder="Location">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Contact</label>
                                        <input type="integer" class="form-control" id="exampleInputPassword1" placeholder="contact">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Crop</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Type of crop">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Size of land</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" use this format 200*300">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Upload profile picture</label>
                                        <input type="file" class="form-control-file" id="profilepicture">
                                    </div>

                                    <button class="mt-3" type="submit" class="btn btn-success">Submit</button>
                                </form>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-3">
                <h3 class="text-center">Your Supply Summary</h3>
                <table id="table" class="table " >
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Chemicals</th>
                            <th scope="col">Fertilizer</th>
                            <th scope="col">Crop Seeds</th>
                            <th scope="col" >Invoice</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row" id="the-date"></td>
                            <td id="the-chem"></td> 
                            <td id="the-fert"></td>
                            <td id="the-sed"></td>
                            <td id="the-invoice"></td>
                        </tr>        
                    </tbody>
                </table>                
                        <div class="col-sm-6 mb-3">
                            <button class="btn btn-success"><a  style="color: white; text-decoration: none;" href="supplierForm">Supply Inputs</a></button>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>