<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white p-3">
    <a class="navbar-brand text-white" href="#">Mkulima Shupavu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto text-white">
            <li class="nav-item active">
                <a class="nav-link text-white" href="home">Home </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="farmer">Farmer</a>
            </li>
            <li class="nav-item text-white">
                <a class="nav-link text-white" href="supplier">supplier</a>
            </li>
            <li class="nav-item text-white">
                <a class="nav-link text-white" href="inputs">inputs</a>
            </li>
            <li class="nav-item dropdown text-white">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<section id="one">
    <div class="container">
        <div class="row">
            <div class="col-5 " id="buttons">
                <div id="farmer" class="farmer">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quaerat, alias nostrum sequi incidunt libero tenetur nobis illum repellat nemo?</p>
                    <button id="signup" class="btn btn-success"><a  href="signup" >Register Today</a></button>
                    <!-- <a href="#" class="btn btn-primary m-2">Register as a supplier</a>
                    <a href="#" class="btn btn-primary m-2">Register As a Buyer</a> -->


                </div>


            </div>
            <div class="col">
                <!-- <button>market </button> -->
            </div>
        </div>
    </div>



</section>
<div class="container mt-5">
    <h3 class="text-center">About us </h3>
    <div class="row mt-5">

        <div class="col-8">
            <img src="https://images.pexels.com/photos/3213283/pexels-photo-3213283.jpeg?auto=compress&cs=tinysrgb&w=800" alt="">

        </div>
        <div class="col">
            <p>Mkulima Shupavu is a Kenyan based agricultural start up that seeks to empower Kenyan farmers and agribusiness enterprenuers by financing farmers with low interest loans while providing enterprenuers with access to a large pool of producers
                and customers for agricultural inputs.</p>
            <div class="row">
                <div class="col">
                    <img src="https://images.pexels.com/photos/927805/pexels-photo-927805.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" height="150">
                </div>

                <div class="col m-2">
                    <img src="https://images.pexels.com/photos/3637891/pexels-photo-3637891.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" height="150">
                </div>
            </div>
        </div>

    </div>

    <h3 class="text-center mt-3">Our Model</h3>
    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col">
                    <img class="mt-4" src="https://www.farmafrica.org/us/images/about-us/rs7449farmafrica-kitui-49-scr-(1)cropped.jpg" alt="" height="150">

                    <p class="mt-3"><span style="font-size:30px;color:rgb(28, 226, 28); font-weight:bold">1.</span> Farmers register with us through our platform and choose whether they wish to apply for input loans in the onset of the planting season. Successful applicants
                        are trained on how our company works by our Agents and after signing of binding contracts</p>
                </div>
                <div class="col">
                    <img src="https://www.fao.org/typo3temp/pics/63d142d3ac.jpg" alt="" height="160">
                    <p> <span style="font-size:30px;color:rgb(28, 226, 28); font-weight:bold">2.</span> farmers are given inputs in form of loans by our agrochemical Suppliers in their localities. In addition, they are provided with learning materials to
                        use so as to ensure that their crops have high yields.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <img class="mt-4" src="https://african.business/wp-content/uploads/sites/3/2021/09/shutterstock_1587607318-1024x683.jpg?x30625" alt="" height="300">
        </div>
        <div class="col">
            <p class="mt-3"> <span style="font-size:30px;color:rgb(28, 226, 28); font-weight:bold">3 .</span> Buyers register with us where we liase with them on binding supply orders based on crops to be cultivated by our farmers in the incoming season.
            </p>
            <p> <span style="font-size:20px;color:rgb(28, 226, 28); font-weight:bold">4. </span> Agrochemical Suppliers can apply to become part of our trading partners to supply our wide pool of farmers with standard and certified inputs within their stores
                locations. Suppliers are then paid prompt;y once products are delivered and invoices verified. </p>
        </div>
    </div>
    <h3 class="text-center">Our vision</h3>
    <div id="vision">
        <p class="text-center"><i class="fa-solid fa-quote-left fa-xl"></i> We envisions Kenyan farmers with easy access to; quality farming inputs, agricultural loans at low interest rates and real time learning of modern agricultural practices for registered farmers. We strive
            to provide quality produce for our trade partners as well as a ready market for local manufacturers of agricultural inputs. <i class="fa-solid fa-quote-right fa-xl"></i> </p>



    </div>

    <div class="slider">
        <div class="row">
            <div class="col-6 text-center">
                <h3 class="mb-3 text-center">Priced to go Produce</h3>
            </div>
            <div class="col-6 text-right text-center">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://biz-file.com/c/1812/472027.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Yellow Maize</h4>
                                            <p class="card-text">Price :1000 per bag</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://forestsnews.cifor.org/wp-content/uploads/2012/03/beans-africa.jpg" height="400">
                                        <div class="card-body">
                                            <h4 class="card-title">Mbaale Beans</h4>
                                            <p class="card-text">Price : 1800 per bag</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="http://www.spyghana.com/wp-content/uploads/2015/06/wpid-rice-300x199.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Rice </h4>
                                            <p class="card-text">Price : 1400 per bag</p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>


</div>
<div class="my-5 mb-0">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-between p-4 text-white" style="background-color: #21D192">
            <!-- Left -->
            <div class="me-5">
                <span>Connect with us today on our social media profiles</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class=" text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">Mkulima Shupavu</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Our services </h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="#!" class="text-dark">Loans to farmers</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Ready Market for farmer produce</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Education to farmer on new technoligies</a>
                        </p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="signup" class="text-dark">SignUp</a>
                        </p>
                        <p>
                            <a href="login" class="text-dark">Login</a>
                        </p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i> Mkulima shupavu </p>
                        <p><i class="fas fa-envelope mr-3"></i> info@mkulimashupavu.com</p>
                        <p><i class="fas fa-phone mr-3"></i> 0797 123 456</p>
                        <p><i class="fas fa-print mr-3"></i> +254 792 123 400</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022 Copyright:
            <a class="text-dark" href="#">Mkulima Shupavu</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->