<section class="h-100 gradient-form" style="height: 100;background-color: #eee;">
    <div class="container">
        <div class="card w-100" style="margin: auto;border-radius: 7px;padding-bottom: 30px;">
            <form [formGroup]="inputsForm" (ngSubmit)="myInputs()" style="margin: auto;width: 50%;border-radius: 7px;padding-top: 20px;">
                <h3 class="text-center">Inputs</h3>
                <div class="form-group">
                    <label style="color: black; display:block; margin-top: 20px;"  for="exampleInputEmail1">Fertilizer name</label>
                    <select formControlName="fertilizerName" class="w-100" style="border-radius: 7px; border-radius: 7px;padding: 7px;" name="cars" id="cars" form="carform">
                        <option value="" disabled selected hidden>Choose a fertilizer name</option>
                        <option value="fertilizer1">DAP</option>
                        <option value="fertilizer2">CAN</option>
                        <option value="fertilizer3">UREA</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="color: black; display:block; margin-top: 20px;"  for="exampleInputEmail1">Chemical Name</label>
                    <select formControlName="chemicalName" class="w-100" style=" border-radius: 7px;padding: 7px;" name="cars" id="cars" form="carform">
                        <option value="" disabled selected hidden>Choose a chemical name</option>
                        <option value="chemical1">NeemPro</option>
                        <option value="chemical2">Traxos</option>
                        <option value="chemical3">Axial</option>
                        <option value="chemical4">Lumax</option>
                        <option value="chemical5">PrimaGram Gold</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="color: black; display:block; margin-top: 20px;"  for="exampleInputEmail1">Seed's name</label>
                    <select formControlName="seedlingsName" class="w-100" style="border-radius: 7px;padding: 7px;" name="cars" id="cars" form="carform">
                        <option value="" disabled selected hidden>Choose seed's name</option>
                        <option value="seedling1">maize</option>
                        <option value="seedling2">beans</option>
                        <option value="seedling3">cabbage</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="color: black; display:block; margin-top: 20px;"  for="exampleInputPassword1">Fertilizer Price</label>
                    <select formControlName="fertilizerPrice" class="w-100" style="border-radius: 7px;padding: 7px;" name="cars" id="cars" form="carform">
                        <option value="" disabled selected hidden>Choose a fertilizer's price</option>
                        <option value="price1">1Kg @ Ksh.200</option>
                        <option value="price2">3Kg @ Ksh.550</option>
                        <option value="price3">10Kg @ Ksh.1800</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="color: black; display:block; margin-top: 20px;"  for="exampleInputPassword1">Seed's Price</label>
                    <select formControlName="seedlingsPrice" class="w-100" style="border-radius: 7px;padding: 7px;" name="cars" id="cars" form="carform">
                        <option value="" disabled selected hidden>Choose seed's price</option>
                        <option value="price1">cabbage 1Kg Ksh.150</option>
                        <option value="price2">cabbage 3Kg Ksh.400</option>
                        <option value="price3">cabbage 5Kg Ksh.700</option>
                        <option value="price1">maize 1Kg Ksh.200</option>
                        <option value="price2">maize 3Kg Ksh.550</option>
                        <option value="price3">maize 5Kg Ksh.900</option>
                        <option value="price1">beans 1Kg Ksh.250</option>
                        <option value="price2">beans 3Kg Ksh.700</option>
                        <option value="price3">beans 5Kg Ksh.950</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="color: black; display:block; margin-top: 20px;"  for="exampleInputPassword1">Chemicals Price</label>
                    <select formControlName="chemicalsPrice" class="w-100" style="border-radius: 7px;padding: 7px;" name="cars" id="cars" form="carform">
                        <option value="" disabled selected hidden>Choose chemical's price</option>
                        <option value="price1">DAP 5Kg Ksh.200</option>
                        <option value="price1">DAP 20Kg Ksh.400</option>
                        <option value="price2">DAP 50Kg Ksh.1000</option>
                        <option value="price1">CAN 5Kg Ksh.400</option>
                        <option value="price1">CAN 20Kg Ksh.800</option>
                        <option value="price3">CAN 50Kg Ksh.2000</option>
                        <option value="price1">UREA 5Kg Ksh.800</option>
                        <option value="price1">UREA 20Kg Ksh.2000</option>
                        <option value="price4">UREA 50Kg Ksh.3000</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="color: black; margin-top: 20px;"  for="exampleInputPassword1">Fertilizer Bags</label>
                    <input style="border-radius: 7px;border: solid black 1px; " formControlName="fertilizerBags" type="number" class="form-control" id="inputs" placeholder="Bags To Buy">
                </div>
                <div class="form-group">
                    <label style="color: black; margin-top: 20px;"  for="exampleInputPassword1">Seed's Bags</label>
                    <input style="border-radius: 7px;border: solid black 1px;" formControlName="seedsBags" type="number" class="form-control" id="inputs" placeholder="Bags To Buy">
                </div>
                <div class="form-group">
                    <label style="color: black; margin-top: 20px;"  for="exampleInputPassword1">Chemical Bags</label>
                    <input style="border-radius: 7px; border: solid black 1px;" formControlName="chemicalsBags" type="number" class="form-control" id="inputs" placeholder="Bags To Buy">
                </div>
                <button style="margin-top: 20px;"type="submit" class="btn btn-outline-success">Submit</button>
            </form>
        </div>
    </div>
</section>


