<section class="h-100 gradient-form" style="height: 100;background-color: #eee;">
    <div class="container">
        <div class="card w-100" style="margin: auto;border-radius: 7px;padding-bottom: 30px;">
            <form [formGroup]="inputsForm" (ngSubmit)="myInputs()" style="margin: auto;width: 50%;border-radius: 7px;padding-top: 20px;">
                <h3 class="text-center">Inputs You Would Like To Loan</h3>
                <div class="form-group">
                    <label style="color: black; margin-top: 20px;"  for="exampleInputPassword1">Fertilizer Bags</label>
                    <input style="border-radius: 7px;border: solid black 1px; " formControlName="fertilizerBags" type="number" class="form-control" id="input1" onchange="inputs()" placeholder="Bags To Buy">
                </div>
                <div class="text-danger" *ngIf="fertilizerBags && fertilizerBags.invalid && fertilizerBags.touched">This field is required</div>
                <div class="form-group">
                    <label style="color: black; margin-top: 20px;"  for="exampleInputPassword1">Seed's Bags</label>
                    <input style="border-radius: 7px;border: solid black 1px;" formControlName="seedsBags" type="number" class="form-control" id="input2" onchange="inputs()" placeholder="Bags To Buy">
                </div>
                <div class="text-danger" *ngIf="seedsBags && seedsBags.invalid && seedsBags.touched">This field is required</div>
                <div class="form-group">
                    <label style="color: black; margin-top: 20px;"  for="exampleInputPassword1">Chemical Bags</label>
                    <input style="border-radius: 7px; border: solid black 1px;" formControlName="chemicalsBags" type="number" class="form-control" id="input3" min="1" onchange="inputs()" placeholder="Bags To Buy">
                </div>
                <div class="text-danger" *ngIf="chemicalsBags && chemicalsBags.invalid && chemicalsBags.touched">This field is required</div>
                <div class="form-group">
                    <label style="color: black; display:block; margin-top: 20px;"  for="exampleInputEmail1">Fertilizer name</label>
                    <select onchange="inputs()" formControlName="fertilizerName" class="w-100" style="border-radius: 7px; border-radius: 7px;padding: 7px;" name="cars" id="cars" form="carform">
                        <option value="" disabled selected hidden>Choose a fertilizer name</option>
                        <option value="DAP">DAP</option>
                        <option value="CAN">CAN</option>
                        <option value="UREA">UREA</option>
                    </select>
                </div>
                <div class="text-danger" *ngIf="fertilizerName && fertilizerName.invalid && fertilizerName.touched">This field is required</div>
                <div class="form-group">
                    <label style="color: black; display:block; margin-top: 20px;"  for="exampleInputEmail1">Chemical Name</label>
                    <select onchange="inputs()" formControlName="chemicalName" class="w-100" style=" border-radius: 7px;padding: 7px;" name="cars" id="cars" form="carform">
                        <option value="" disabled selected hidden>Choose a chemical name</option>
                        <option value="NeemPro">NeemPro</option>
                        <option value="Traxos">Traxos</option>
                        <option value="Axial">Axial</option>
                        <option value="Lumax">Lumax</option>
                        <option value="PrimaGram Gold">PrimaGram Gold</option>
                    </select>
                </div>
                <div class="text-danger" *ngIf="chemicalName && chemicalName.invalid && chemicalName.touched">This field is required</div>
                <div class="form-group">
                    <label style="color: black; display:block; margin-top: 20px;"  for="exampleInputEmail1">Seed's name</label>
                    <select onchange="inputs()" formControlName="seedsName" class="w-100" style="border-radius: 7px;padding: 7px;" name="cars" id="cars" form="carform">
                        <option value="" disabled selected hidden>Choose seed's name</option>
                        <option value="maize">maize</option>
                        <option value="beans">beans</option>
                        <option value="cabbage">cabbage</option>
                    </select>
                </div>
                <div class="text-danger" *ngIf="seedsName && seedsName.invalid && seedsName.touched">This field is required</div>
                <div class="form-group">
                    <label style="color: black; display:block; margin-top: 20px;"  for="exampleInputPassword1">Fertilizer Price</label>
                    <select onchange="inputs()" formControlName="fertilizerPrice" class="w-100" style="border-radius: 7px;padding: 7px;" name="cars" id="selection" form="carform">
                        <option value="" disabled selected hidden>Choose a fertilizer's price</option>
                        <option value="200">1Kg @ Ksh.200</option>
                        <option value="550">3Kg @ Ksh.550</option>
                        <option value="1800">10Kg @ Ksh.1800</option>
                    </select>
                </div>
                <div class="text-danger" *ngIf="fertilizerPrice && fertilizerPrice.invalid && fertilizerPrice.touched">This field is required</div>
                <div class="form-group">
                    <label style="color: black; display:block; margin-top: 20px;"  for="exampleInputPassword1">Seed's Price</label>
                    <select onchange="inputs()" formControlName="seedsPrice" class="w-100" style="border-radius: 7px;padding: 7px;" name="cars" id="selection" form="carform">
                        <option value="" disabled selected hidden>Choose seed's price</option>
                        <option value="150">cabbage 1Kg Ksh.150</option>
                        <option value="400">cabbage 3Kg Ksh.400</option>
                        <option value="700">cabbage 5Kg Ksh.700</option>
                        <option value="200">maize 1Kg Ksh.200</option>
                        <option value="550">maize 3Kg Ksh.550</option>
                        <option value="900">maize 5Kg Ksh.900</option>
                        <option value="250">beans 1Kg Ksh.250</option>
                        <option value="700">beans 3Kg Ksh.700</option>
                        <option value="950">beans 5Kg Ksh.950</option>
                    </select>
                </div>
                <div class="text-danger" *ngIf="seedsPrice && seedsPrice.invalid && seedsPrice.touched">This field is required</div>
                <div class="form-group">
                    <label style="color: black; display:block; margin-top: 20px;"  for="exampleInputPassword1">Chemicals Price</label>
                    <select onchange="inputs()" formControlName="chemicalsPrice" class="w-100" style="border-radius: 7px;padding: 7px;" name="cars" id="selection" form="carform">
                        <option value="" disabled selected hidden>Choose chemical's price</option>
                        <option value="200">DAP 5Kg Ksh.200</option>
                        <option value="400">DAP 20Kg Ksh.400</option>
                        <option value="1000">DAP 50Kg Ksh.1000</option>
                        <option value="400">CAN 5Kg Ksh.400</option>
                        <option value="800">CAN 20Kg Ksh.800</option>
                        <option value="2000">CAN 50Kg Ksh.2000</option>
                        <option value="800">UREA 5Kg Ksh.800</option>
                        <option value="2000">UREA 20Kg Ksh.2000</option>
                        <option value="3000">UREA 50Kg Ksh.3000</option>
                    </select>
                </div>
                <div class="text-danger" *ngIf="chemicalsPrice && chemicalsPrice.invalid && chemicalsPrice.touched">This field is required</div>
                <h3 style="margin-top: 20px;" class="text-success" id="totalamount"></h3>
                <button [disabled]="inputsForm.invalid" style="margin-top: 20px;" onclick="inputs();" class="btn btn-success"><a style="text-decoration: none; color: white;" href="home">Click Here To Proceed</a></button>
                <br>
                <br>
                
            </form>
        </div>
    </div>
</section>


